* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
}

.welcome-page-content-container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 112px;
    display: flex;
    box-sizing: border-box;
    /*border: 1px pink solid;*/
}

/* Отдельные классы для разного отступа сверху */
.logo-container {
    margin-top: 32px;
}

.slogan-container {
    margin-top: 64px;
    align-items: center;
}

.grey-container {
    margin-top: 100px;
    background-color: rgba(244, 244, 244, 0.5);
    justify-content: space-between;
    padding: 48px 112px 64px 112px;
}

.white-container {
    background-color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 72px 112px 72px 112px;
}


.slogan {
    font-family: 'Racing Sans One', sans-serif;
    font-size: 90px;
    font-weight: 600;
    color: rgb(65, 105, 225);
    padding: 0;
    margin: 0;
    line-height: 1;
    letter-spacing: 2px;
}

.slogan-highlight {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 400;
}

.welcome-page-content-container .space {
    /*border: 1px solid red;*/
    height: auto;
    display: flex;
    flex-direction: column;
}

.welcome-page-content-container .text-space {
    height: auto;
    width: 320px;
}

/*для фотки*/
.movie-covers {
    width: 345px;
    height: 569px;
}

.harrypotter-search {
    width: 658px;
    height: 327px;
}

.table-pic {
    width: 658px;
    height: 366px;
}



.Montserrat {
    font-family: 'Montserrat', sans-serif;
}

.bold {
    font-size: 40px;
    font-weight: 700;
    color: #1E1E1E;
}

.medium {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
    color: #6b6564;
}



@media (max-width: 1000px) {
    .welcome-page-content-container {
        padding: 0 16px; /* Уменьшаем отступы */
    }
}

