/*для сезонов и эпизодов*/

.season-span {
    position: absolute;
    bottom: 0;
}

.episode-span {
    position: absolute;
    bottom: 0;
    left: 150px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button-season-episode {
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.75);
    font-size: 13px;
    font-weight: 500;
    padding: 10px 10px 10px 16px;
    cursor: pointer;
    width: 127px;
    height: 40px;
    position: relative;
    display: flex;
    align-items: center;
}

.arrow {
    position: absolute;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    right: 8px;
}


.dropdown-menu-season-episode {
    overflow: hidden;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 127px;
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 20px;
    z-index: 999;
}

.name-of-category {
    position: absolute;
    top: 8px;
    left: 10px;
    font-family: 'Montserrat', sans-serif;
    color: rgba(51, 51, 51, 1);
    font-size: 15px;
    font-weight: 500;
}

.default-category {
    /*position: absolute;*/
    /*bottom: 8px;*/
    /*left: 10px;*/
    font-family: 'Montserrat', sans-serif;
    color: rgba(0, 0, 0, 0.75);
    font-size: 15px;
    font-weight: 500;
}
