.carousel-item {
    flex: 0 0 calc((100% - 48px) / 5);
    aspect-ratio: 215 / 323;
    border-radius: 6px;
    cursor: pointer;
    pointer-events: auto;
}

.item-pic {
    width: 100%;
    height: calc(100% / 1.03);
    border-radius: 6px;
    /*background-color: rgba(217, 217, 217, 0.6);*/
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-pic img {
    width: calc(100% / 1);
    height: calc(100% / 1);
    object-fit: cover;
    display: block;
    margin: auto;
    border-radius: 6px;
}

@media (max-width: 768px) {
    .carousel-item {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .carousel-item {
        font-size: 16px;
    }
}